POSTGRES_USER=pguser
POSTGRES_DB=ttrpg_tool
POSTGRES_PASSWORD=mysecretpassword
DB_HOST=localhost
DATABASE_URL="postgresql://pguser:mysecretpassword@localhost:5432/ttrpg_tool?schema=public"

AUTH_SECRET="your-very-cool-very-secure-auth-secret"

BASE_URL="localhost:3000"

#Azure blob storage
storageAccount = '<account-name>'
containerName = 'container-name>'
accessKey = '<access-key>';
connectionString = `<connect-string>`

#docker run --name ttrpg-postgres -e POSTGRES_USER=pguser -e  POSTGRES_PASSWORD=mysecretpassword -e POSTGRES_DB=ttrpg_tool -p 5432:5432  -d postgres