.circle-shape {
  clip-path: path(
    "M50,10C72.077,10 90,27.923 90,50C90,72.077 72.077,90 50,90C27.923,90 10,72.077 10,50C10,40.07 13.626,30.98 19.626,23.983C26.965,15.426 37.854,10 50,10Z"
  );
}

.diamond-shape {
  clip-path: path(
    "M51.085,10.915l38,38c0.599,0.599 0.599,1.571 0,2.17l-38,38c-0.599,0.599 -1.571,0.599 -2.17,0l-38,-38c-0.599,-0.599 -0.599,-1.571 -0,-2.17l38,-38c0.599,-0.599 1.571,-0.599 2.17,-0Z"
  );
}

.hexagon-shape {
  clip-path: path(
    "M70.694,16.074l19.034,32.967c0.342,0.593 0.342,1.325 -0,1.918l-19.034,32.967c-0.342,0.593 -0.975,0.959 -1.661,0.959l-38.066,-0c-0.686,-0 -1.319,-0.366 -1.661,-0.959l-19.034,-32.967c-0.342,-0.593 -0.342,-1.325 0,-1.918l19.034,-32.967c0.342,-0.593 0.975,-0.959 1.661,-0.959l38.066,0c0.686,0 1.319,0.366 1.661,0.959Z"
  );
}
