@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-to-accent: linear-gradient(70deg, #65ae45 0%, #ffd700 100%);
  --primary-to-light: linear-gradient(70deg, #65ae45 0%, #d9ebd1 100%);
  --primary-to-dark: linear-gradient(70deg, #65ae45 0%, #314029 100%);
}

@layer base {
  .bg-color-default {
    @apply bg-white dark:bg-black85;
  }
  .bg-color-dark {
    @apply bg-black25 dark:bg-black;
  }

  .bg-gradient-light {
    background: var(--primary-to-light);
    background-color: #d9ebd1;
  }

  .bg-gradient-dark {
    background: var(--primary-to-dark);
    background-color: #314029;
  }

  .bg-primary-soft {
    @apply bg-[#d9ebd1] dark:bg-[#314029];
  }

  .bg-primary-mid {
    @apply bg-[#B2D7A2] dark:bg-[#426532];
  }

  .bg-primary-harsh {
    @apply bg-[#8BC274] dark:bg-[#54893C];
  }

  .bg-primary-gradient {
    @apply bg-gradient-light dark:bg-gradient-dark;
  }

  .text-color-default {
    @apply text-black dark:text-white;
  }

  .text-primary-soft {
    @apply text-[#d9ebd1] dark:text-[#314029];
  }

  .text-primary-mid {
    @apply text-[#B2D7A2] dark:text-[#426532];
  }

  .text-primary-harsh {
    @apply text-[#8BC274] dark:text-[#54893C];
  }

  .text-primary-gradient {
    @apply bg-gradient-dark dark:bg-gradient-light;
    background-color: #65ae45;
    color: transparent;
    background-clip: text;
  }

  .text-accent-gradient {
    background: var(--primary-to-accent);
    background-color: #65ae45;
    color: transparent;
    background-clip: text;
  }

  h1 {
    @apply font-heading text-md-4xl xl:text-4xl;
    font-weight: 700;
  }

  h2 {
    @apply font-heading text-md-3xl xl:text-3xl;
    font-weight: 700;
  }

  h3 {
    @apply font-heading text-md-2xl xl:text-2xl;
    font-weight: 400;
  }

  h4 {
    @apply font-heading text-md-xl xl:text-xl;
    font-weight: 400;
  }

  h5 {
    @apply font-heading text-md-lg xl:text-lg;
    font-weight: 400;
  }

  p {
    @apply text-base;
  }

  small {
    @apply text-sm;
  }

  .shadow {
    box-shadow: inset 2px 2px 2px 2px black;
  }
}

@layer utilities {
}

@layer components {
  .btn-primary {
    @apply active:bg-primary-harsh rounded-lg border bg-primary px-3 py-1 text-white hover:border-black75;
    @apply shadow;
  }

  .btn-secondary {
    @apply rounded-lg border bg-black25 px-3 py-1 text-black hover:border-black75 active:bg-black50;
    @apply shadow;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  padding: 0.2rem;
  background-color: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.5rem;
}
.scrollbar-thin::-webkit-scrollbar-corner {
  background-color: transparent;
}

input:-internal-autofill-selected,
input:-internal-autofill-previewed,
input:-webkit-autofill,
textarea:-webkit-autofill {
  appearance: none;
  background-color: transparent !important;
  -webkit-text-fill-color: #1f1c20 !important;
  color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

@media (prefers-color-scheme: dark) {
  input:-internal-autofill-selected,
  input:-internal-autofill-previewed,
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    appearance: none;
    background-color: transparent !important;
    -webkit-text-fill-color: #fff !important;
    color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
